<div class="container-column-main">
    <div class="column-main" role="main">
        <article class="content">
            
            <div class="chart" id="collapsable-example"></div>
        </article>
    </div>
</div>